<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Gabung di serunya DUNIA AXIS yang baru dan dapatkan segala info yang kamu butuhkan tentang operator GSM dengan pertumbuhan paling pesat di Indonesia">
<meta name="keywords" content="axis internet,axis blackberry,axis unlimited,kartu axis,internet unlimited axis,axis transfer pulsa,promo axis,internet unlimited,paket blackberry,paket internet,internet murah">
<meta name="author" content="AXIS TELEKOM INDONESIA">
<meta name="google-site-verification" content="2D3LGlHuzeKiM4ib4CEWbBz3OSx3plei1zEE0ylJRAo" />
<title> {if $metaTag.title} {$metaTag.title|replace:"_":" "} | {else} {if $currentType} {$currentType|replace:"_":" "} |  {else} {if $currentpage} {$currentpage|replace:"_":" "} | {/if} {/if} {/if} AXIS TELEKOM INDONESIA</title>
<link rel="stylesheet" type="text/css" href="{$assets_domain}css/custom-theme/jquery-ui-1.9.0.custom.css">
<link rel="stylesheet" type="text/css" href="{$assets_domain}css/axis.css" />
<link rel="stylesheet" type="text/css" href="{$assets_domain}css/skins/tango/skin.css" />
<link rel="stylesheet" type="text/css" href="{$assets_domain}css/jscrollpane.css" />
<link rel="stylesheet" type="text/css" href="{$assets_domain}css/scrollbar.css">
<link rel="icon"  type="image/png" href="{$assets_domain}/images/favicon.ico" />
<link rel="icon"  type="image/png" href="{$assets_domain}/images/favicon.png" />

<!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="{$assets_domain}css/ie7.css">
<![endif]-->
<!--[if gt IE 7]>
	<link rel="stylesheet" type="text/css" href="{$assets_domain}css/ie8.css" />
<![endif]-->
<noscript>
    <link rel="stylesheet" type="text/css" href="css/nojs.css" />
</noscript>
<script type="text/javascript" src="{$assets_domain}js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jquery-ui-1.9.0.custom.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="{$assets_domain}js/scroll-startstop.events.jquery.js"></script>
<script type="text/javascript" src="{$assets_domain}js/detectBrowser.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{$assets_domain}js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jquery.cslider.js"></script>
<script type="text/javascript" src="{$assets_domain}js/customform.js"></script>
<script type="text/javascript" src="{$assets_domain}js/jRating.jquery.js"></script>
<script type="text/javascript" src="{$assets_domain}js/axis.js"></script>
<script type="text/javascript" src="{$assets_domain}fancybox2/jquery.fancybox.js?v=2.1.3"></script>
<link rel="stylesheet" type="text/css" href="{$assets_domain}fancybox2/jquery.fancybox.css?v=2.1.2" media="screen" />
</head>
<!-- s : modules JS -->
<script type="text/javascript" src="{$assets_domain}js/content_detail.js"></script>
<script type="text/javascript" src="{$assets_domain}js/gl.js"></script>
<script  type="text/javascript" src="{$assets_domain}js/jquery.form.js"></script>
<script  type="text/javascript" src="{$assets_domain}js/kipagination.js"></script>
<script  type="text/javascript" src="{$assets_domain}js/validatious-custom-0.9.1.min.js"></script>
<script  type="text/javascript" src="{$assets_domain}js/locale/errors.{if $locale.js eq '1'}id{else}en{/if}.js"></script>
<!-- e : module JS -->