<div class="theContent">
    <div class="theTitle">
        <h2>CONFIGURATION</h2>
    </div><!--contenttitle-->
    <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable inputable">
        <tbody>
            <tr>
                <td><a href="?s=admin&r=users" class="btn btn_users"><span>Administration Users</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=admin&r=dashboard" class="btn btn_document"><span>Dashboard Settings</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=pluginBuilder" class="btn btn_settings"><span>Admin Module Builder</span></a></td>
            </tr>
        </tbody>
    </table><br /><br />
    <div class="theTitle">
        <h2>CONTENT CONFIGURATION</h2>
    </div><!--contenttitle-->
    <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable inputable">
        <tbody>
            <tr>
                <td><a href="?s=master&act=list_type" class="btn btn_book"><span>Type News & Content</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=master&act=list_category" class="btn btn_note"><span>Category News & Content</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=master&act=list_page" class="btn btn_table"><span>Page Content</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=master&act=list_device" class="btn btn_mouse"><span>Device Type</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=master&act=list_province" class="btn btn_mouse"><span>Province</span></a></td>
            </tr>
            <tr>
                <td><a href="?s=master&act=list_city" class="btn btn_mouse"><span>City</span></a></td>
            </tr>
        </tbody>
    </table>
</div><!--theContent-->