<meta charset="utf-8">
<title>AXIS TELEKOM INDONESIA</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="{$metaTag.title}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{$metaURL}"/>
<meta property="og:image" content="{$basedomain}public_assets/article/{$metaTag.image}"/>
<meta property="og:site_name" content="AXIS - GSM YANG BAIK"/>
<meta property="og:description" content="{$metaTag.content}"/>
<meta property="fb:app_id" content="{$fbID}"/>
<meta name="description" content="Gabung di serunya DUNIA AXIS yang baru dan dapatkan segala info yang kamu butuhkan tentang operator GSM dengan pertumbuhan paling pesat di Indonesia">
<meta name="keywords" content="axis internet,axis blackberry,axis unlimited,kartu axis,internet unlimited axis,axis transfer pulsa,promo axis,internet unlimited,paket blackberry,paket internet,internet murah">
<meta name="author" content="AXIS TELEKOM INDONESIA">
<meta name="google-site-verification" content="2D3LGlHuzeKiM4ib4CEWbBz3OSx3plei1zEE0ylJRAo" />
<title> {if $metaTag.title} {$metaTag.title|replace:"_":" "} | {else} {if $currentType} {$currentType|replace:"_":" "} |  {else} {if $currentpage} {$currentpage|replace:"_":" "} | {/if} {/if} {/if} AXIS TELEKOM INDONESIA</title>
<link rel="stylesheet" href="{$mobiledomain}assets/css/jquery.mobile.structure-1.2.0.min.css" /> 
<link rel="stylesheet" href="{$mobiledomain}assets/css/jquery.mobile-1.2.0.min.css" />
<link rel="stylesheet" href="{$mobiledomain}assets/css/jquery-theme/axis.min.css" />
<link rel="stylesheet" href="{$mobiledomain}assets/css/flexslider.css" />
<link rel="stylesheet" href="{$mobiledomain}assets/css/jquery.mobile.custom.css" />
<link rel="stylesheet" href="{$mobiledomain}assets/css/jquery.mobile.mq.css" />
<link rel="stylesheet" href="{$mobiledomain}assets/css/axismobile2012.css" />


<script type="text/javascript" src="{$mobiledomain}assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
{literal}
	var mobiledomain = "{$mobiledomain}";
	$(document).bind("mobileinit", function(){
		$.mobile.pageLoadErrorMessage  = "";
	});
{/literal}
</script>
<script type="text/javascript" src="{$mobiledomain}assets/js/jquery.mobile-1.2.0.min.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/validatious-custom-0.9.1.min.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/locale/errors.{if $locale.js eq '1'}id{else}en{/if}.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/jquery.form.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/kipagination.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/gl.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/content_detail.js"></script>
<script type="text/javascript" src="{$mobiledomain}assets/js/social_content_detail.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
{literal}
	$(document).ready(function(){
		{parsetags: 'explicit'}
	});
{/literal}
</script>

