<div class="breadcrumb">
		<a href="{$mobiledomain}">{$locale.home.title}</a>	&raquo; <a href="{$mobiledomain}product">{$locale.nav.produk}</a>	
	</div>
<div class="page-body" data-role="content">	
	<div class="promo">
		<div class="page-image-heading" id="imageHeading">
			<img src="{$mobiledomain}assets/images/terbaik_axis.jpg" />
            <h1>{$locale.nav.produk}</h1>
		</div>
	</div>
	
	<div class="list-nav">
		<ul data-role="listview" data-inset="true">
			<li>
				<a href="{$mobiledomain}product/tab/internet" data-transition="slide">
					<span class="icon icon-globe"></span>
					<span class="textLink">{$locale.nav.internet}</span>
				</a>
			</li>
			<li>
				<a href="{$mobiledomain}product/tab/telepon" data-transition="slide">
					<span class="icon icon-device"></span>
					<span class="textLink">{$locale.nav.telepon}</span>
				</a>
			</li>
			<li>
				<a href="{$mobiledomain}product/tab/bundling" data-transition="slide">
					<span class="icon icon-box-closed"></span>
					<span class="textLink">{$locale.nav.bundling}</span>
				</a>
			</li>
			<li>
				<a href="{$mobiledomain}product/tab/kartu" data-transition="slide">
					<span class="icon icon-card"></span>
					<span class="textLink">{$locale.nav.kartuaxis}</span>
				</a>
			</li>
			<li>
				<a href="{$mobiledomain}" data-transition="slide">
					<span class="icon icon-home"></span>
					<span class="textLink">{$locale.mobilebtn.home}</span>
				</a>
			</li>
		</ul>
	</div>
</div><!-- /content -->