 <div id="foot">
 		<a class="logout" href="{if $fburl.status==true}{$fburl.urlLogout}{/if}">LOGOUT</a>
        <div class="socialLike">
            <div class="facebookLike">
                <div id="fb-root"></div>
				{literal}
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=390107777736807";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
				{/literal}
                <div class="fb-like" data-href="http://www.axisemoticontest.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div><!-- end .facebookLike -->
            <div class="shareTwit">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.axisemoticontest.com/" data-text="{$locale.msg.twitter}" >Tweet</a>
				{literal}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			{/literal}
            </div><!-- end .shareTwit -->
            <div class="googlePlus">
			{literal}
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
                  {parsetags: 'explicit'}
                </script>
			{/literal}
                <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120" data-href="http://www.axisemoticontest.com/"></div>
                {literal}<script type="text/javascript">gapi.plusone.go();</script>{/literal}
            </div><!-- end .googlePlus -->
        </div><!-- end .socialLike -->
    	<div class="linkFoot">
        	<a href="#popupFaq" class="showpopup">FAQ</a>
        	<a href="#popupTnc" class="showpopup">SYARAT &amp; KETENTUAN VOTE</a>
        </div><!-- end .linkFoot -->
    </div><!-- end #foot -->