<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{$meta}

<body>
<div id="body">
	<div id="fb-root"></div>
	<script>
	var fbID = {$fbID};
	{literal}
	  window.fbAsyncInit = function() {
		FB.init({
		  appId      : fbID, // App ID
		 // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
		  status     : true, // check login status
		  cookie     : true, // enable cookies to allow the server to access the session
		  xfbml      : true  // parse XFBML
		});

		// Additional initialization code here
	  };

	  // Load the SDK Asynchronously
	 (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	{/literal}
	</script>
	{$header}
	<div id="container">
		{$mainContent}
	 </div><!-- end #container -->
	{$footer}
	
</div><!-- end #body -->
{include file="application/kakaoweb/widgets/popup_detail.html"}
{include file="application/kakaoweb/widgets/popup_faq.html"}
{include file="application/kakaoweb/widgets/popup_tnc.html"}
<div id="bgpopup">
</div><!-- end #bgpopup-->
</body>
</html>
