
<div id="ornamen"></div><!-- end #ornamen -->
<div id="footer">
    <div class="wrapper">
        <div id="widgetFooter">
            <div class="widgetFooter">
                <h1 class="icon_volume"><a href="{$coorporate_base_path}index.php">{$locale.footnav.tentang}</a></a></h1>
                <div class="footThumb"><img src="{$basedomain}assets/images/icon/f_tentangaxis.png" /></div>
                <div class="entryWidget">
                    <ul>
						{*}<li><a href="{$coorporate_base_path}index.php?page=tentang_axis">{$locale.footnav.tentang}</a></li>{/*}
                        <li><a href="{$coorporate_base_path}berita">{$locale.footnav.kabaraxis}</a></li>
                        <li><a href="{$coorporate_base_path}seputar_perusahaan">{$locale.footnav.informasiperusahaan}</a></li>
						<li><a href="{$coorporate_base_path}life_in_axis/karir">{$locale.footnav.karir}</a></li>
                        <li><a href="{$coorporate_base_path}blog">{$locale.footnav.blog}</a></li>						
                    </ul>
                </div><!-- end .entryWidget -->
            </div><!-- end .widgetFooter -->
            <div class="widgetFooter">
                <h1 class="icon_world"><a href="{$basedomain}international">{$locale.footnav.internasional}</a></h1>
                <div class="footThumb"><img src="{$basedomain}assets/images/icon/f_international.png" /></div>
                <div class="entryWidget">
                    <ul>
						<li><a href="{$basedomain}international#{$locale.footnav.tabdatangkeindonesia}">{$locale.footnav.datangkeindonesia}</a></li>
                        <li><a href="{$basedomain}international#{$locale.footnav.tabpergikeluarnegri}">{$locale.footnav.pergikeluarnegri}</a></li>
                        <li><a href="{$basedomain}international#{$locale.footnav.tabteleponkeluarnegri}">{$locale.footnav.teleponkeluarnegri}</a></li>
		 		   </ul>
                </div><!-- end .entryWidget -->
            </div><!-- end .widgetFooter -->
            <div class="widgetFooter">
                <h1 class="icon_toolbox"><a href="{$basedomain}yang_asik">{$locale.footnav.yangasik}</a></h1>
                <div class="footThumb"><img src="{$basedomain}assets/images/icon/f_yangasik.png" /></div>
                <div class="entryWidget">
                    <ul>
                        <li><a href="{$basedomain}yang_asik#{$locale.footnav.tabaxisbox}">{$locale.footnav.axisbox}</a></li>
                        {*}<li><a href="http://bukutelponku.axisworld.co.id/" target="_blank">{$locale.footnav.bukutelepon}</a></li>{/*}
                        <li><a href="{$basedomain}yang_asik#{$locale.footnav.tablayanansuara}">{$locale.footnav.layanansuara}</a></li>
                        <li><a href="{$basedomain}yang_asik#{$locale.footnav.tabfitursms}">{$locale.footnav.fitursms}</a></li>
                        <li><a href="http://www.duniaaxis.com">{$locale.footnav.duniaaxis}</a></li>
                        {*}<li><a href="http://komunitas.axisworld.co.id/sekolah/login.php" target="_blank">{$locale.footnav.komunitassekolah}</a></li>{/*}
                        <li><a href="http://www.sekolahaxis.com/" target="_blank">{$locale.footnav.komunitassekolah}</a></li>
                        {*}<li><a href="http://net.axisworld.co.id/" target="_blank">AXIS NET</a></li>{/*}
                        <li>&nbsp;</li>
						<li>&nbsp;</li>
                    </ul>
                </div><!-- end .entryWidget -->
            </div><!-- end .widgetFooter -->
            <div class="widgetFooter">
                <h1 class="icon_love"><a href="{$basedomain}promo">{$locale.footnav.yangpopuler}</a></h1>
                <div class="footThumb"><img src="{$basedomain}assets/images/icon/f_populer.png" /></div>
                <div class="entryWidget">
                    <ul>
                        <li><a href="{$basedomain}{$userpage}">{$locale.footnav.iphone16gb}</a></li>
                        <li><a href="{$basedomain}promo">{$locale.footnav.htc8gb}</a></li>
                        {*}<li><a href="#">{$locale.footnav.gamesasphalt}</a></li>
                        <li><a href="#">{$locale.footnav.rbtseparuh}</a></li>
                        <li><a href="#">{$locale.footnav.aplikasichat}</a></li>{/*}
                    </ul>
                </div><!-- end .entryWidget -->
            </div><!-- end .widgetFooter -->
            <div class="widgetFooter last">
                <h1 class="icon_tools"><a href="{$basedomain}bantuan">{$locale.footnav.bantuan}</a></h1>
                <div class="footThumb"><img src="{$basedomain}assets/images/icon/f_bantuan.png" /></div>
                <div class="entryWidget">
                    <ul>
                        <li><a href="{$basedomain}bantuan#{$locale.footnav.tabfaq}">F.A.Q</a></li>
                        <li><a href="{$basedomain}bantuan#{$locale.footnav.tabdevicesetting}" >{$locale.footnav.devicesetting}</a></li>
                        <!--<li><a href="bantuan#{$locale.footnav.tabmanualsetting}" class="linkit">{$locale.footnav.manualsetting}</a></li>-->
                        <li><a href="{$basedomain}bantuan#{$locale.footnav.tabquicktips}">{$locale.footnav.quicktips}</a></li>
                        <li><a href="{$basedomain}bantuan#{$locale.footnav.tabnomorpenting}">{$locale.footnav.nomorpenting}</a></li>
						<li><a href="{$basedomain}bantuan#{$locale.footnav.tabbantuan123}">{$locale.footnav.bantuan123}</a></li>
                    </ul>
                </div><!-- end .entryWidget -->
            </div><!-- end .widgetFooter -->
        </div><!-- end .widgetFooter -->
        <div id="bottom">
            <div class="navBot">
                <ul>
                    <li><a href="{$basedomain}petasitus">{$locale.botnav.petasitus}</a></li>
                    <li><a href="{$basedomain}penyangkalan">{$locale.botnav.kebijakanprivasi}</a></li>
                    <li><a href="{$basedomain}syarat_ketentuan">{$locale.botnav.syaratketentuan}</a></li>
		    		<li><a>Copyright &copy; 2008 - 2012 AXIS All Rights Reserved</a></li>
                </ul>
            </div>
            <div class="social">
                <span>{$locale.botnav.gabungsocmed}</span>
                <a href="http://www.facebook.com/AXISgsm" target="_blank" class="icon_fb">&nbsp;</a>
                <a href="https://twitter.com/AXISgsm" target="_blank" class="icon_twit">&nbsp;</a>
                <a href="https://plus.google.com/114517187362247493119/posts" target="_blank" class="icon_gplus">&nbsp;</a>
                <a href="http://www.youtube.com/user/AXISGSM" target="_blank" class="icon_youtube">&nbsp;</a>
            </div>
        </div>
    </div><!-- end .wrapper -->
</div><!-- end #footer -->
{include file="application/axisweb/widgets/popup-default.html"}

 {literal}
<script>

jQuery(document).ready(function(){
	var url = document.location.href;
	if (url.indexOf("yang_asik")>= 0){
			$('html, body').animate({scrollTop: '0px'}, 800);
	  }
		else if (url.indexOf("bantuan")>= 0){
			$('html, body').animate({scrollTop: '0px'}, 800);
	  }
		else if (url.indexOf("international")>= 0){
			$('html, body').animate({scrollTop: '0px'}, 800);
	  }
});
</script>
{/literal}