
<div  style="padding:20px;float:right;padding-right:600px">
	<div  style="padding:20px;">
	<form method="POST" id="formLogin" action="login.php">
		Login-in <input type="text" name="phonenumber" value="phone number" onCLick="this.value=''" />  
		<input type="password" name="password"  onCLick="this.value=''"  value="111" />
		<input type="hidden" name="login" value="1" /> 
		<input type="submit" value="LOGIN" /> 
	</form>
	</div>
	<div  style="padding:20px">

	<form method="POST" id="formLogin" action="register.php">
	<table>
	<tr><th><h1> REGISTRATION </h1></th></tr>
	<tr><td><h1>Full Name </h1></td><td> <input type="text" name="name"  class="inputBox"></td></tr>
	<tr><td><h1>phone number </h1></td><td> <input type="text" name="phonenumber"  class="inputBox"></td></tr>
	<tr><td><h1>password  </h1></td><td> <input type="password" name="password" class="inputBox"></td></tr>
	<tr><td><h1>re-type password  </h1></td><td> <input type="password" name="repassword" class="inputBox"></td></tr>
	<tr><td><h1>email  </h1></td><td> <input type="text" name="email"  class="inputBox"></td></tr>
	<tr><td colspan="2" ><input type="submit" value="SAVE"  class="inputButtonBox"  /> </h2></td></tr>
	</table>
	<input type="hidden" name="register" value="1"   >
	</form>
	</div>
	
	</div>	
	<div style="clear:both" ></div>


	
